{% trans_default_domain('ssi') %}
<div class="text-muted"><i class="fa fa-newspaper"></i> {{ logs|length }} {{ 'show on'|trans }} {{ nbElements }} {{ 'require'|trans }}</div>
<ul class="list-group">
{% for log in logs  %}

    {% set class="fa fa-info-circle text-info" %}
    {% if log.level == 300 %}
        {% set class="fa fa-exclamation-triangle text-warning" %}
    {% elseif log.level > 300 %}
        {% set class="fa fa-exclamation-circle text-danger" %}
    {% endif %}


    <li class="list-group-item">
        <div class="d-flex">
            <div class="flex-shrink-0">
                <i class="{{ class }} mr-3"></i>
                <span class="text-muted">{{ log.createdAt|date('d/m/Y H:i') }}</span>
            </div>
            <div class="flex-grow-1 ms-3">
                {{ log.message }}
            </div>
            <div class="ms-auto flex-shrink-0 p-2">
                {% if log.username %}
                    <i class="fa fa-user"></i> {{ log.username }}
                {% else %}
                    <span class="text-warning"><i class="fa fa-ban"></i> {{ 'No User'|trans }}</span>
                {% endif %}
            </div>
        </div>
    </li>
{% endfor %}
</ul>
<div class="">

</div>